
{% extends '::base.html.twig' %}
    {% block body %}
        
            <div id="page-inner">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('admin_homepage')}}">Tableau de bord</a></li>
                        <li class="breadcrumb-item">Entreprise</li>
                        <li class="breadcrumb-item active" aria-current="page">Liste</li>
                    </ol>
                </nav>

                <div class="row">
                    <div class="col-md-12">
                          <h1 class="page-header">
                            Toutes les Entreprises<small></small>
                        </h1>
                    </div>
                </div>
                {% for success_message in app.session.flashbag.get('message') %}
                    <div class="alert alert-success"> {{ success_message }} </div>
                {% endfor %}



                <div class="row">

                    <div class="col-md-12 col-sm-24 col-xs-24">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Toutes les Entreprises
                            </div>
                            <div class="panel-body">

                                <div class="btn-group" role="group" >
                                   <a class="btn btn-success" href="{{ path('admin_entreprise_index') }}"> 
                                        <i class="glyphicon glyphicon-globe"> </i>TOUTES ENTREPRISES</a>
                                   <a class="btn btn-info"  href="{{ path('admin_entreprise_filter') }}">
                                   <i class=" glyphicon glyphicon-exclamation-sign"></i>ENTREPRISE DESACTIVE</a>
                                </div>
                                <div style="float:right" >
                                     <a class="btn btn-primary"  href="{{ path('admin_entreprise_create') }}"> NOUVELLE ENTREPRISE</a>
                                </div>
                                       
                               
                                <div class="table-responsive">
                                {% if listEntreprise|length >0 %} 
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom entreprise</th>
                                            <th>Secteur d'activité</th>
                                            <th>Téléphone entreprise</th>
                                            <th>Email entreprise</th>
                                            <th>Adresse physique</th>
                                            <th>Notification CV posté</th>
                                            <th>Statut</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                       
                                       
                                         <tbody>
                                            {% for entreprise in listEntreprise %}
                                                <tr>
                                                    <th scope="row">{{ entreprise.idUser }}</th>
                                                    <td>
                                                        <a href="{{ path('admin_entreprise_detail', { 'id': entreprise.id}) }}"> 
                                                            {{entreprise.nomEntreprise }}
                                                        </a>
                                                    </td>
                                                    <td>{{ entreprise.secteurActivite }}</td>
                                                    <td>{{ entreprise.telMobilResponsable }}</td>
                                                    <td>{{ entreprise.emailResponsable }}</td>
                                                    <td>{{ entreprise.adressePhysique }}</td>
                                                    <td>{{ entreprise.notificationCvPoste }}</td>
                                                    {% if entreprise.status == 0 %}
                                                        <td>Désactiver</td>
                                                    {% else %}
                                                        <td>Activer</td>
                                                    {% endif %}
                                                    <td>
                                                          <a href="{{ path('admin_entreprise_edit', { 'id': entreprise.id}) }} " class="btn btn-primary">
                                                             <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                         </a>
                                                        <div id="show_after_click">
                                                            {% if entreprise.status == 0 %}
                                                             <a href="{{ path('admin_entreprise_change_status', { 'id': entreprise.idUser}) }}" class="btn btn-success"> 
                                                                    <i class="glyphicon  glyphicon-ok"></i></a>
                                                            {% else %}
                                                             <a href="{{ path('admin_entreprise_change_status', { 'id': entreprise.idUser}) }}" class="btn btn-warning"> 
                                                                    <i class="glyphicon   glyphicon-remove"></i></a>
                                                            {% endif %}
                                                             <a href="{{path('admin_entreprise_delete', { 'id': entreprise.id}) }}" class="btn btn-danger"> 
                                                                    <i class="glyphicon   glyphicon-remove"></i></a>
                                                           
                                                        </div>
                                                    </td>

                                                </tr>
                                            {% endfor %}                                       

                                        </tbody>
                                    </table>
                                {% else %}
                                        <center>AUCUNE ENTREPRISE  </center>            
                                {% endif %}
                                </div>
                                <!-- Modal  à refaire -->
                                   <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="modal_center" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                         
                                          <div class="modal-body">
                                            <h3>Désactiver</h3></br>
                                            <span>Are you sure  you want to deactivate?</span></br>
                                            <button type="button" class="btn btn-danger btn-lg" >Oui</button>
                                            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Non</button>
                                          </div>
                                          
                                        </div>
                                      </div>
                                    </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->
               
          
            <!-- /. PAGE INNER  -->
        </div>
        {% raw %}
            <script>

            </script>
        {% endraw %}
    {% endblock body %}

  