{% extends '::base.html.twig' %}
{% block body %}
    <?php defined('SYSPATH') or die('No direct script access.');?>
    <div class="page-header row" style="border: none;margin-bottom: 7px;">
        <h1 class="col-sm-9 titleH1">Detail CV - {{ detail.reference }}</h1>
        <div class="col-sm-8" style="padding: 0px;"><hr class="titleLine" /></div>
    </div>
    <style type="text/css">
        img.imgCv{;
            width: 150px;
            /*height: 175px;*/
            border: 1px rgba(220, 212, 212, 0.55) outset;
            /*position: relative;*/
            /*bottom: -25px;*/
        }
        .barreVertical{
            border-right: 2px white solid;
            /*margin-right: 20%;*/
        }
        .barreVerticaleBody{
            border-left: 3.5px #7F6E93 solid;
            margin: 0px 30px;
            padding: 0px 30px;
        }
        .tableCV {
            border-collapse: collapse;
            border-left: 3.5px #7F6E93 solid;
            margin: 0px 30px;
            min-width: 95%;
        }
        .tableCV td{
            padding-left: 30px;
        }
        .expAnnee, h4{
            font-weight: bold;
        }
        .formaVille{
            color: #002076;
            font-style: italic;
            font-weight: bold;
        }
        .formaLangue{
            font-style: italic;
            font-weight: bold;
        }
        .row-eq-height {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }
        .row.row-eq-height > div:not(:last-child):after {
            content: " ";
            border-right: 2px solid white;
            display: inline-block;
            width: 2px;
            height: 80%;
            position: absolute;
            top: 10%;
            right: 0;
        }

    </style>
    <div class="panel panel-default" style="border-color: transparent;">
        <div class="panel-body">
            <div class="row" style="color: white;background-color: #6E4E94;">
                <div class="col-sm-12">
                    <div class="row row-eq-height">
                        <!-- informations -->
                        <div class="col-xs-12 col-sm-4">
                            <dl class="">
                                <dt><h4 style="color: white;">{{ detail.idDemandeur.prenom|capitalize ~" " ~ detail.idDemandeur.nom|upper}}</h4></dt>
                                <dd>{{ detail.idDemandeur.dateDeNaissance|date('d-m-Y') }}</dd>
                                <dd>{{ detail.idDemandeur.adresse |capitalize }}</dd>
                                <dd>{{ detail.idDemandeur.villeId.libele ~ '-' ~ detail.idDemandeur.region }}</dd>
                                <dd style="font-size: 11px;"> Tél:
                                    {% set tels = detail.idDemandeur.telephone|split(",") %}
                                    {% if tels %}
                                        {% for tel in tels %}
                                            {{ tel }}
                                        {% endfor %}
                                    {% endif %}
                                </dd>
                                <dd>E-mail : {{ detail.idDemandeur.email }}</dd>
                            </dl>
                        </div>

                        <!-- emplois recherches -->
                        <div class="col-xs-12 col-sm-4" style="padding-top: 15px;">
                            <h4 class="text-center" style="color: white;text-transform: uppercase;">
                               {% set emploiRechs = detail.emploiRecherche|split(",") %}
                               {% if (emploiRechs) %}
                                   {% for emploiRech in emploiRechs %}
                                       {{ emploiRech }}<br><br>
                                   {% endfor %}
                               {% endif %}
                            </h4>
                        </div>

                        <!-- image -->
                        <div class="col-xs-12 col-sm-4" style="padding-top: 15px;">
                            <div style="text-align: right; padding-right: 25px;">
                                {% if (detail.idDemandeur.idUser.hasImage == 1) %}
                                    <img class="imgCv" src="{{ asset('admin/images/' ~ detail.idDemandeur.photo) }}" alt="Photo">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12"><h4>FORMATIONS</h4></div>
                {% set formations = detail.formation.values %}
                <div class="col-xs-12 col-sm-12">
                    <dl class="barreVerticaleBody">
                    {% if(formations) %}
                        {% for formation in formations %}
                            <dt>
                                <span style="font-weight: bold;color:black;">
                                    {{ formation.annee ~ ' - ' ~ formation.diplome.libele }}
                                </span>
                            </dt>
                            <dd>
                                <span class="formaVille">
                                    {{ formation.villeId.libele ~' - '~ formation.pays }}
                                </span>
                                {{ formation.universite.libele|upper }}
                            </dd>
                            <dd><br/></dd>
                        {% endfor %}
                    {% endif %}
                        <dd><span class="formaLangue">Langue:&nbsp;&nbsp;</span>
                           {% set langues = detail.langue|split(",") %}
                            {% if(langues) %}
                                {% for langue in langues %}
                                    {{ langue|capitalize|escape }}
                                {% endfor %}
                            {% endif %}
                        </dd>
                        <dd><br/></dd>
                        {% set logiciels = detail.logiciel|split(",") %}
                        {% if (logiciels) %}
                            <dd class="logiciels"><span class="formaLangue">Logiciels maîtrisés: </span>
                                <div>
                                    <table style="width: 100%;">
                                        <tr>
                                            {% set i = 0 %}
                                            {% for logiciel in logiciels %}
                                                <td>
                                                    <span style="font-size: 18px;padding-top:0px;margin-top:2px;font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol">
                                                        <span style="mso-list:Ignore">.</span>
                                                    </span>
                                                    {{logiciel|capitalize }}
                                                </td>
                                                {% if (loop.index % 3) == 0  %}
                                                    </tr><tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                            </dd>
                        {% endif %}
                        <dd><br/></dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12"><h4>EXPERIENCES PROFESSIONNELLES</h4></div>
                <div class="col-xs-12 col-sm-12">
                    {% set experiences = detail.experience.values %}
                    <table class="tableCV">
                        {% if(experiences) %}
                            {% for experience in experiences %}
                                <tr class="expAnnee">
                                    <td colspan="2" style="width: 175px;" >
                                        <span style="font-weight: bold;color: black">{{ experience.moisDebut ~ ' - ' ~ experience.moisFin }}</span>
                                        <span style="font-weight: bold;color: black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {% set secteur_activite = experience.secteurActiviteId.libele %}
                                            {% if (secteur_activite) %}
                                                {{ experience.nomEntreprise ~ ' , ' ~ secteur_activite }}
                                            {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                <td colspan="2">
                                    <span class="formaVille" >
                                        {{ experience.villeId.libele ~ " " ~ experience.pays }}
                                    </span>&nbsp;&nbsp;
                                    <strong style="text-decoration: underline;color: black">
                                        {{ experience.posteOccupeId.libele }}
                                    </strong>
                                </td>
                                </tr>
                                {#<tr>#}
                                    {#<td></td>#}
                                    {#<td>Missions et tâches réalisées:#}
                                        {#{% set missions = experience.missionTache|split(",") %}#}
                                        {#{% if (missions) %}#}
                                            {#{% for mission in missions %}#}
                                                {#{{'-' ~ mission }}#}
                                                {#{% if ( loop.last == false ) %}#}
                                                    {#<br>#}
                                                {#{% endif %}#}
                                            {#{% endfor %}#}
                                        {#{% endif %}#}
                                    {#</td>#}
                                {#</tr>#}
                                <tr><td><br/></td></tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12"><h4>CENTRES D’INTERETS</h4></div>
                <div class="col-xs-12 col-sm-12">
                    <dl class="barreVerticaleBody">
                        <dd>
                            {{ detail.certificationId.libele }}
                        </dd>
                        <dd><br/></dd>
                        <dd>
                            {{ detail.centreInteretProjet }}
                        </dd>
                        <dd><br/></dd>
                    </dl>
                </div>
            </div>
            <?php } ?>
            <div class="row">
                <div class="col-sm-12"><label style="font-weight: bold;">Déposer le: </label>{{ detail.dateCreation|date('d/m/Y') }}</div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-8">
                    <div class="pull-left">
                        <a class="btn btn-default"
                           href="{{ path('admin_demandeur_show') }}">Retour
                        </a>

                        <a class="btn btn-primary"
                           href="{{ path("admin_demandeur_edit", {'id': detail.id} ) }}">Modifier
                        </a>
                        <a class="btn btn-success "
                           href="">Enregistrer sous
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}