{% extends '::base.html.twig' %}
{% block body %}
    {{ form_start(form) }}

    {# begin form errors#}
    {#{{ form_errors(form_emplois)}}#}
    {#{{ form_errors(form_cvs)}}#}
    {#{{ form_errors(form_formation)}}#}
    {# end form errors #}
    {# begin form emplois #}

    <h3> CV</h3>
    {% if ( dEmploi.audition == 1)%}
        {% set attr = true %}
    {% else %}
        {% set attr = false %}
    {% endif %}
    {{ form_row( form_emplois.audition,{
        'label':'Achat de place :',
        'value': dEmploi.audition,
        'attr': {'checked': attr}
    }
    )}}
    {{ form_row( form_emplois.emploiTrouve,{
        'label':'Ce candidat a trouvé un emploi :',
        'value':  dEmploi.emploiTrouve
    }
    )}}
    {{ form_row( form_emplois.photo, {'label':'Photo :' } )}}
    {{ form_row( form_emplois.titre, {'label':'Titre :' } )}}
    {{ form_row( form_emplois.nom, {'label':'Nom:' , 'value': dEmploi.nom} )}}
    {{ form_row( form_emplois.prenom, {'label':'Prenom:', 'value': dEmploi.prenom } )}}
    {{ form_row( form_emplois.email, {'label':'Email :', 'value': dEmploi.email } )}}
    {{ form_row( form_emplois.adresse, {'label':'Adresse :', 'value': dEmploi.adresse } )}}
    {{ form_row( form_emplois.ville, {'label':'Ville :', 'value': dEmploi.villeId.libele } )}}
    {{ form_row( form_emplois.region, {'label':'Région :', 'value': dEmploi.region } )}}
    {{ form_row( form_emplois.telephone, {'label':'Telephone :', 'value': dEmploi.telephone } )}}
    {{ form_row( form_emplois.dateDeNaissance, {'label':'Date De Naissance :', 'value': dEmploi.DateDeNaissance } )}}
    {{ form_row( form_emplois._token )}}
    {{ form_row( form_emplois.status, {'label':'Status :', 'value': dEmploi.status } )}}
    {# end form emplois #}

    {{ form_row( form_cvs.permis,{
        'label':'Permis :' ,
        'value': d_cv.permis,
        'attr': {'checked': attr}
    }
    )}}

    {{ form_row( form_cvs.emploiRecherche,
    {
        'label':'Emploi Recherché :',
        'value': d_cv.emploiRechercheId.libele
    }
    )}}

    {{ form_row( form_emplois.notificationEmploiPoste,
    {
        'label':'Souhaitez-vous recevoir une notification quand une offre d’emploi est postée sur Itjobmada :',
        'value':  dEmploi.notificationEmploiPoste,
        'data': 'oui'
    }
    )}}

    {{ form_row( form_emplois.choixEmploi,
    {
        'label':'Recevoir une notification pour quel emploi ?',
        'value': dEmploi.choixEmploi
    }
    )}}
    {{ form_row( form_emplois.notificationFormationPoste,
    {
        'label':'Souhaitez-vous recevoir une notification quand une formation est postée sur Itjobmada:',
        'value': dEmploi.notificationFormationPoste
    }
    )}}

    {{ form_row( form_emplois.choixFormation,
    {
        'label':'Recevoir une notification pour quelle formation ? :',
        'value': dEmploi.choixFormation
    }

    )}}
    {{ form_row( form_emplois.newsletter,
    {
        'label':'Voulez-vous recevoir nos nouvelles du mois :',
        'value': dEmploi.newsletter
    }
    )}}

    {{ form_row( form_cvs.logiciel,{
        'label': 'Logiciel :',
        'value': d_cv.logicielId.libele
    }
    ) }}

    {{ form_row( form_cvs.langue,{
        'label': 'Langue :',
        'value': d_cv.langue
    }
    )}}
    {{ form_row( form_cvs._token) }}

    <h3> formation </h3>

    {% if ( d_formation != null ) %}
        {% for formation in  d_formation %}

            {{ form_row( form_formation.annee,{
                'label': 'Annee :',
                'value': formation.annee
            }
            ) }}
            {{ form_row( form_formation.ville,
            {
                'label': 'Ville :',
                'value': formation.ville
            }
            )}}
            {{ form_row( form_formation.pays,
            {
                'label': 'Pays :',
                'value': formation.pays
            }
            ) }}
            {{ form_row( form_formation.diplome,
            {
                'label': 'Diplome :',
                'value': formation.diplome
            }
            ) }}
            {{ form_row( form_formation.universite,
            {
                'label': 'Universite :',
                'value': formation.universite
            }
            ) }}

        {% endfor %}
    {% endif %}

    <h3> Experience </h3>

    {{ form_row( form_experience.moisDebut,{
        'label': 'Mois de Début :',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.moisFin,
    {
        'label': 'Mois de Fin:',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.annee,
    {
        'label': 'Annee :',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.ville,
    {
        'label': 'Ville :',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.pays,
    {
        'label': 'Pays :',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.nomEntreprise,
    {
        'label': 'Nom de l\'entreprise :',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.secteurActivite,
    {
        'label': 'Secteur d\'activité:',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.posteOccupe,
    {
        'label': 'Poste occupé :',
        'value': 'f'
    }
    ) }}
    {{ form_row( form_experience.missionTache,
    {
        'label': 'Mission et tache :',
        'value': 'f'
    }
    ) }}

    {#{{ form_row( form_cvs.centreInteretCertificat, {'label':'Divers :' } )}}#}
    {#{{ form_row( form_cvs.centreInteretProjet, {'label':'Projet :' } )}}#}

    <input type="submit" class="btn btn-primary">
    {{ form_end(form) }}
{% endblock %}